FROM localhost/flight-el9-ubi-init
ADD setup.sh /tmp/setup.sh
RUN bash /tmp/setup.sh
# Reduce space usage
RUN dnf clean all -y
# Open necessary port
EXPOSE 1234
CMD [ "/sbin/init" ]
