FROM docker.io/rockylinux/rockylinux:9-ubi-init
RUN dnf -y install https://repo.openflighthpc.org/openflight/centos/9/x86_64/openflighthpc-release-3-1.noarch.rpm; dnf clean all
CMD [ "/bin/bash" ]
